# Example ifukube.yml
# Copy to ifukube.yml or $OPENSHIFT_DATA_DIR/ifukube.yml

common:
  encrypt_key: <replace with secret key>

development:
  elastic_url: http://localhost:9200
  elastic_logging: debug

production:
  elastic_url: http://localhost:9200
  elastic_logging: info